@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic);


/*! Novencento Wide - A free font available here http://typography.synthview.com/ */
@font-face {
    font-family: 'Novecentowide';
    src: url('_/_type/Novecentowide.woff') format('woff'),
         url('_/_type/Novecentowide.ttf') format('truetype');
}
html {
  font: 100%/1.6 sans-serif;
}
body {
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  -ms-hyphens:     auto;
  hyphens:         auto;
  word-wrap: break-word;
  font-family: "Noto Serif", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 400;
  color: $gray; 
}
@mixin Nove {
  font-family: 'Novecentowide', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  color: $darkGray;
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  margin-bottom: 1em;
}
h1, .h1 {
  font-size: 2.2em;
}
h2, .h2 {
  font-size: 1.8em;
}
h3, .h3 {
  font-size: 1.4em;
}
p {
  margin-bottom: 1.6em;
}
a {
  color: $red;  
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}
blockquote {
  font-style: italic;
  margin-bottom: 1.6em;
  padding-left:1.6em;
  border-left: 10px solid $transBlack;
  color: #777;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  cite {
    display: inline-block;
    float: right;
  }
  p {
    margin-bottom: 0;
  }
}
ul, ol {
  padding-left: 1.3em;
  margin-bottom: 1.6em;

  ul {
    padding-left: 1.6em;
    margin-bottom:0em;
  }
  ol {
    padding-left: 1.6em;
    margin-bottom:0em;
  }
}
.btn, .wpcf7-submit {
  width: auto !important;
  background: $red;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.7em; 
}